{% extends 'directory/__base.html' %}
{% load directory_tags %}

##################################################################

{% block head_title %}{% if entrytype.directoryentry_set.active|length == 1 %}{{ entrytype.verbose_name }}{% else %}{{ entrytype.verbose_name_plural }}{% endif %}{% endblock %}
{% block body_title %}{% if entrytype.directoryentry_set.active|length == 1 %}{{ entrytype.verbose_name }}{% else %}{{ entrytype.verbose_name_plural }}{% endif %}{% endblock %}

##################################################################

{% block html_head %}
    {{ block.super }}
    <style TYPE="text/css">
    <!--
        {% include 'directory/includes/visual.css' %}
    -->
    </style>
{% endblock %}

{# ############################################################### #}


{% block body_content %}

<table>
    {% for entry in entrytype.directoryentry_set.active %}
        {% include 'directory/visual_1col/includes/entry.html' %}
    {% endfor %}
</table>

{% endblock %}

{# ############################################################### #}

{% block page_breadcrumbs %}
    <span class="divider">&gt;</span>
    {% if entrytype.directoryentry_set.active|length == 1 %}{{ entrytype.verbose_name }}{% else %}{{ entrytype.verbose_name_plural }}{% endif %}
{% endblock page_breadcrumbs %}

{# ########################################### #}
