{% extends 'directory/__base.html' %}

{# ######################################### #}

{% block html_head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{# ######################################### #}

{% block head_title %}Update Directory Entry for {{ directoryentry }}{% endblock %}
{% block body_title %}Update Directory Entry for {{ directoryentry }}{% endblock %}

{# ########################################### #}

{% block page_content_body %}

<form enctype="multipart/form-data" action="" method="post" class="form">{% csrf_token %}
    <table class="table-form">
        {% include 'includes/form.html' %}
        <tr class="submit-row visual-break">
            <td>
                <input type="submit" value="Update">
            </td>
        </tr>
    </table>
</form>


{% endblock %}


{# ########################################### #}
